.playerCard {
	display: flex;
	flex-direction: column;
	width: 20%;
	align-items: center;
	margin: 10px;
	border: solid;
	cursor: pointer;
}

.playerCard {
	margin: 1.5rem;
	border-style: solid;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	width: 20%;
}

.playerCard p {
	margin: 0.5em;
	font-size: 1em;
}

@media only screen and (max-width: 700px) {
	.playerCard {
		width: 75%;
	}
}
