.profileDropdown {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  position: absolute;
  background-color: black;
  margin: auto;
  margin-top: 17px;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.profileDropdown ul {
  margin-top: 20px;
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style: none;
  justify-content: space-around;
}

.profileDropdown ul li {
  color: white;
}

/* .profileDropdown span {
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  width: 80%;
  color: white;
  margin: auto;
  font-family: "Poppins", sans-serif;
} */

/* .profileDropdown ul {

} */
