.home-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.home-banner {
  height: 800px;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../shared/images/herobanner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* NEWS-CONTAINER */

.news-content {
  /* background-color: #333; */
  margin-top: 50px;
  flex: 1;
  display: flex;
  justify-content: center;
}

.news-container-center {
  width: 80%;
  /* background-color: #999; */
  padding: 0px 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.news-title {
  padding-bottom: 40px;
}

/* NEWSCARDS */

.news-cards-wrapper {
  display: flex;
}

.big-news-cards {
  height: 600px;
  width: 50%;
  background-color: olivedrab;
}

.small-news-cards {
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-between;
}
