* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* height: 100vh; */
  height: 100%;
  font-family: "Poppins", sans-serif;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}
