.desktopNavigationWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #b5d5d1;
}

.navigationLogotype {
  width: 100px;
  align-self: center;
}

.desktopNavigationTabs {
  display: flex;
  align-items: center;
}

.navigationLogotype,
.players,
.signIn {
  display: flex;
  align-items: center;
  cursor: pointer;
}
