.navbar {
  background-color: #ddd;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: 70px;
  margin: 0 auto;
  cursor: pointer;
}

.navbar .container > div {
  display: flex;
}

.navbar-item {
  padding: 10px 20px;
}
