$base-color: #ffd32a;
$blackish-color: #202020;

.navbar {
	background-color: #ffd42a00;
	width: 100%;
	position: fixed;
	z-index: 3;
	color: white;

	&.home {
		&.animate {
			animation: nav-fade-from-blackish-to-transparency 0.25s;
		}
	}
	&.not-home {
		background: $base-color;
		color: $blackish-color;
		&.animate {
			animation: nav-fade-from-black-to-yellow 0.25s;
		}
	}
}

.navbar-active {
	background-color: $blackish-color;
	width: 100%;
	position: fixed;
	color: $base-color;
	z-index: 3;

	&.home {
		animation: nav-fade-from-transparency-to-black 0.25s;
	}

	&.not-home {
		background: $blackish-color;
		&.animate {
			animation-name: nav-fade-from-yellow-to-black;
			animation-duration: 0.25s;
		}
	}
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1200px;
	height: 70px;
	margin: 0 auto;
	transition: height 0.5s ease;
}

.container > div {
	display: flex;
	align-items: center;
}

.navbar-logo {
	padding: 10px 20px;
	font-size: 1.5rem;
	font-weight: bold;
	cursor: pointer;
}

.navbar-item {
	padding: 10px 20px;
	cursor: pointer;
}

@keyframes nav-fade-from-blackish-to-transparency {
	from {
		background-color: $blackish-color;
	}
	to {
		background-color: #ffd42a00;
	}
}

@keyframes nav-fade-from-yellow-to-black {
	from {
		background-color: $base-color;
	}

	to {
		background-color: $blackish-color;
	}
}
@keyframes nav-fade-from-black-to-yellow {
	from {
		background-color: $blackish-color;
	}

	to {
		background-color: $base-color;
	}
}

@keyframes nav-fade-from-transparency-to-black {
	from {
		background-color: #ffd42a00;
	}
	to {
		background-color: $blackish-color;
	}
}
