/* .navbar {
  background-color: #ddd;
  
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: 70px;
  margin: 0 auto;

  border-bottom: 2px solid rgba(255, 255, 255, 0.05);
  transition: height 0.5s ease;
}

.navbar .container > div {
  display: flex;
  align-items: center;
}

.navbar-logo {
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.navbar-item {
  padding: 10px 20px;
  cursor: pointer;
} */
/** TEST**/

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: background-color 0.5s ease;
  z-index: 1000;
}

.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.navbar {
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgba(255, 255, 255, 0.05);
  transition: height 0.5s ease;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-list {
  list-style: none;
  display: flex;
  margin-right: auto;
  margin-left: 4rem;
}

.nav-link {
  margin: 0 2rem;
  position: relative;
}

.nav-link::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: -3px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease;
}

.nav-link:hover::after {
  transform: scaleX(1);
}

#nav-cta {
  display: inline-block;
  background-color: #fff;
  color: #1b1a1a;
  padding: 1rem 2rem;
  border-radius: 2rem;
  transition: background-color 0.5s ease;
}

#nav-cta:hover {
  background-color: #8d8d8d;
  color: rgb(214, 214, 214);
}

/*Apply styles after scroll*/
.scrolling-active {
  background-color: #fff;
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
}

.scrolling-active .navbar {
  height: 6.6rem;
}

.scrolling-active .navbar a {
  color: #313131;
}

.scrolling-active #nav-cta {
  background-color: #313131;
  color: #fff;
}

.scrolling-active #nav-cta:hover {
  background-color: #151515;
}

.scrolling-active .nav-link::after {
  background-color: #313131;
}

/*Apply styles after scroll end*/

/* Hero Demo Content*/
.hero {
  width: 100%;
  height: 80vh;
  background: url("../../../shared/images/herobanner.jpg") center no-repeat;
  background-size: cover;
  position: relative;
}

.hero::after {
  content: "";
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

/* .demo-content {
  width: 100%;
  height: 100vh;
  background-color: #fff;
} */
