$base-color: #ffd32a;
$background-color: #202020;

.navbar {
	background-color: #ffd42a00;
	width: 100%;
	position: fixed;
	// animation-name: nav-fade-out;
	// animation-duration: 0.5s;
	z-index: 3;
	color: white;
}

.navbar-active {
	background-color: $background-color;
	width: 100%;
	position: fixed;
	color: $base-color;
	// animation-name: nav-fade-in;
	// animation-duration: 0.5s;
	z-index: 3;
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1200px;
	height: 70px;
	margin: 0 auto;
	transition: height 0.5s ease;
}

.container > div {
	display: flex;
	align-items: center;
}

.navbar-logo {
	padding: 10px 20px;
	font-size: 1.5rem;
	font-weight: bold;
	cursor: pointer;
}

.navbar-item {
	padding: 10px 20px;
	cursor: pointer;
}

@keyframes nav-fade-in {
	from {
		background-color: $base-color;
		color: $background-color;
	}
	to {
		background-color: $background-color;
		color: $base-color;
	}
}

@keyframes nav-fade-out {
	from {
		background-color: $background-color;
		color: $base-color;
	}
	to {
		background-color: $base-color;
		color: $background-color;
	}
}

/* .demo-content {
  width: 100%;
  height: 100vh;
  background-color: #fff;
} */
