$base-color: #e4cc18;
$background-color: #202020;

.name {
	display: flex;
	justify-content: center;
	position: absolute;
	margin: auto;
	top: -90px;
	right: 0;
	bottom: 0;
	left: 0;
	width: inherit;
	height: 40px;
	text-align: center;
	animation: fadeIn 1.5s ease-in;
	p {
		color: white;
		text-decoration: none;
		font-weight: 700;
		font-size: 18px;
		&:hover {
			color: $base-color;
		}
	}
	h6 {
		position: absolute;
		margin: auto;
		left: 0;
		right: 0;
		bottom: 0;
		color: white;
		width: 40px;
	}
}

.ds-info {
	position: absolute;
	margin: auto;
	top: 50px;
	bottom: 0;
	right: 0;
	left: 0;
	width: inherit;
	height: 40px;
	display: flex;
	justify-content: center;
	.foot,
	.nation,
	.beast-rating {
		position: relative;
		left: -300px;
		width: calc(250px / 3);
		text-align: center;
		color: white;
		animation: fadeInMove 1s;
		animation-fill-mode: forwards;
		h6 {
			text-transform: uppercase;
			color: $base-color;
		}
		p {
			font-size: 12px;
		}
	}
	.ds {
		&:nth-of-type(2) {
			animation-delay: 0.25s;
		}
		&:nth-of-type(1) {
			animation-delay: 0.5s;
		}
	}
}

.ds-rating {
	position: absolute;
	margin: auto;
	top: 220px;
	bottom: 10px;
	right: 0;
	left: 0;
	width: 200px;
	height: 100px;
	animation: mvBottom 1.5s;
	h6 {
		margin-bottom: 5px;
		font-weight: 700;
		text-transform: uppercase;
		color: $base-color;
	}
	.rating {
		h6 {
			font-weight: 400;
			font-size: 8px;
			letter-spacing: 0.05em;
			margin: 4px 0;
			color: white;
		}
		.fab {
			color: $base-color;
			font-size: 14px;
		}
		.bar {
			height: 5px;
			background: $base-color;
			text-align: right;
			p {
				color: white;
				font-size: 8px;
				padding-top: 5px;
				animation: fadeIn 5s;
			}
			&:hover {
				background: white;
			}
		}
		.rating-pace {
			width: 95%;
			animation: paceRating 1s;
			animation-delay: 0.2s;
		}
		.rating-defending {
			width: 90%;
			animation: defendRating 1.5s;
			animation-delay: 0.3s;
		}
		.rating-passing {
			width: 75%;
			animation: passRating 2s;
			animation-delay: 0.4s;
		}
	}
}

@keyframes paceRating {
	0% {
		width: 0;
	}
	100% {
		width: 95%;
	}
}

@keyframes defendRating {
	0% {
		width: 0;
	}
	100% {
		width: 90%;
	}
}

@keyframes passRating {
	0% {
		width: 0;
	}
	100% {
		width: 75%;
	}
}

@keyframes mvBottom {
	0% {
		bottom: -350px;
	}
	100% {
		bottom: 10px;
	}
}

@keyframes fadeInMove {
	0% {
		opacity: 0;
		left: -300px;
	}
	100% {
		opacity: 1;
		left: 0;
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.iconContainer {
	display: flex;
	margin-top: auto;
}

.playerIcon {
	margin: 0.25rem;
	height: 24px;
	cursor: pointer;
	border-radius: 50%;
	padding: 4px;
	background-color: $background-color;
}

.edit {
	margin-left: auto !important;
}

.edit:hover {
	background-color: #1b89fa;
}
